click==6.7
Flask==1.0.2
Flask-Cors==3.0.6
Flask-SQLAlchemy==2.4.4
gunicorn @ git+https://github.com/benoitc/gunicorn.git@548d5828da6b93fa6a14217742c6e6d2c7b2b900
h5py==2.8.0
heapdict==1.0.0
html5lib==1.0.1
hyperlink==18.0.0
imageio==2.4.1
imagesize==1.1.0
incremental==17.5.0
Jinja2==2.10
jsonschema==2.6.0
MarkupSafe==1.1.1
requests==2.19.1
SQLAlchemy==1.2.11
statsmodels==0.9.0
sympy==1.2
tables==3.4.4
Werkzeug==0.14.1
