{% extends 'base.html' %} {% set active_page = "About" %} {% block head %} {%
endblock %} {% block body %}

<p id="containerMainText">
  &nbsp;&nbsp;&nbsp;&nbsp;The traditional way of manufacturing of recreational
  terminal devices, which involves complex procedures like plaster casting,
  moulding, curing, remoulding, and finally fitting, is very time consuming,
  labour intensive, and expensive. Fortunately, 3D printing, a rapid prototyping
  technology that involves heating, exerting, and fusing the material
  layer-by-layer, has advanced to the point where it can create terminal devices
  for upper extremity prostheses for recreational activities (swim paddle,
  golf/hockey grips, weightlifting, etc.) relatively cheaply. It also has the
  benefit of faster manufacturing speed and less labour requirements.
  Nevertheless, there still is a significant cost associated with prosthetic
  recreational terminal devices that is not covered by provincial insurance
  (OHIP) and there is a steep learning curve to customize a design using CAD for
  the novice user. Customization (e.g., load-bearing, end-effector, size) may be
  especially important to make a 3D printed device that is safe for a range of
  users and particular activities. Furthermore, there are also concerns about
  the general safety and reliability of 3D printed devices in general as there
  are no regulations or standards that assess the structural integrity of 3D
  printed devices. This website is aimed at tackling this problem by providing
  free open source designs that have been vetted by our clinical team.
  <br /><br />
  <b>Purpose:</b> To provide open-source 3D-printable recreational terminal
  devices to individuals with upper limb amputations that reduces the costs of
  obtaining a prosthetic while allowing size scaling for children and adults.
</p>
{% endblock %}
