{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}
<p id="containerMainText"><b>Disclaimers</b>

    <!-- All of this info was found from https://www.websitepolicies.com/blog/sample-disclaimer-template-->
    <br>
    <br>
    <b>Health and Medical Disclaimer:</b>
    <p>
    The design files provided to the user are based on open source designs.
    Please consult your health care provider before making an decisions on using one of 
    the design files on this website.

    </p>

    <b>No Responsibility Disclaimer:</b>
    <p>
    This organization gives no warranty and accepts no responsibility or liability for 
    the accuracy or the completeness of the information and materials contained in this website.
    Under no circumstances will the organization be held responsible or liable in any claims,
    damages, losses, expenses, costs, or liabilities whatsoever (including, withoutlimitation, any
    direct or indirect damages for loss of profits, business interruption or loss of information)
    resulting or arising directly or indirectly from your use of or inability to use this website,
    or from your reliance on information and material on this website.
    </p>

    <b>No Guarantee Disclaimer:</b> 
    <p>
    This organization cannot guarantee the validity of the information found here. While we use
    reasonable efforts to include accurate and up to date information, we make no warranties as to the 
    accuracy of the content and assume no liability or responsibility for an error or omission in the content.    
    <p>
</p>
{% endblock %}
