<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>test1</p>

    <script type="module">
      import * as THREE from "../static/build/three.module.js";

      import { OrbitControls } from "../static/jsm/OrbitControls.js";
      import { STLExporter } from "../static/jsm/STLExporter.js";

      import Stats from "../static/jsm/stats.module.js";
      import { STLLoader } from "../static/jsm/STLLoader.js";

      console.log(THREE);

      console.log("hello, world");
    </script>
  </body>
</html>
